/*Gradient background by https://manuel.pinto.dev */
body {
  background: linear-gradient(-45deg, #fee440, #00bbf9, #f15bb5, #00f5d4);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

nav {
  position: absolute;
  display: flex;
  right: 50px;
  left: 1050px;
  top: 100px;
  bottom: 600px;
  color: #ffffff;
  width: 350px;
  height: 11px;
  transform: rotate(-90deg);
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Syncopate", sans-serif;
  letter-spacing: 0.1rem;
}

.container {
  width: 500px;
  height: 600px;
  background: #ffffff;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 60px;
  border: 1px solid rgba(25, 59, 101, 0.08);
  box-shadow: 0px 0px 4px rgba(25, 59, 101, 0.05);
  border-radius: 12px;
  display: flex;
  justify-content: center;
}
.album-cover {
  width: 300px;
  height: 300px;
  margin-top: 25px;
  border: none;
  display: flex;
  justify-content: center;
  border-radius: 200px;
  position: absolute;
}

/*FIX LATER*/
.album-cover img:hover {
  filter: grayscale(0%);
  filter: #f15bb5;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
}
.artist {
  position: absolute;
  text-align: center;
  font-family: "Syncopate", sans-serif;
  font-size: 16px 10vw;
  letter-spacing: 0.05rem;
  color: #ffffff;
  background-color: #313131;
  width: 500px;
  height: 35px;
  padding-bottom: 20px;
  margin: auto;
  margin-top: 340px;
}
.song {
  position: absolute;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  letter-spacing: 0.2rem;
  color: #ffffff;
  background-color: #313131;
  width: 500px;
  height: 30px;
  margin-top: 380px;
  padding-bottom: 10px;
}
.pre-save {
  position: absolute;
  margin: auto;
  margin-top: 420px;
  text-align: center;
  font-family: "Syncopate", sans-serif;
  font-size: 16px;
  letter-spacing: 0.25rem;
  color: #313131;
  background-color: transparent;
  width: 500px;
  height: 30px;
}

.services {
  position: absolute;
  background-color: transparent;
  margin-top: 450px;
  width: 500px;
  height: 80px;
}

.services-2 {
  position: absolute;
  margin-top: 480px;
  background-color: transparent;
  justify-items: flex-end;
  margin-left: 250px;
}

li {
  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

footer {
  height: 11px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Syncopate", sans-serif;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  margin-top: 630px;
  position: absolute;
}

a {
  text-decoration: none;
  color: #ff9;
}
a:hover {
  text-decoration-style: wavy;
  text-decoration-color: #00f5d4;
}

@media screen and (max-width: 768px) and (min-width 280px){
  body{
    overflow-x: hidden;
  }
  
  .container{
      position: absolute;
      justify-content: center;
      align-content: center;
  }
}

